.btn-primary {
    color: black;
    background-color: #1ada72;
    font-weight: 500;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 0 solid;
    border-radius: 9999px;
    margin-right: 10px;
}

.card-body{
    width: 50%;
    margin-left: auto;
  }